/* --- */

/* --- */

:root {
  /* Need to add colors 'background: var(--brandColor)*/
  --purpleBrown: hsla(10, 67%, 18%, 1);
}

* {
  box-sizing: border-box;

  /* -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease; */
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 150%;
  font-weight: 300;

  font-family: "Avenir", "Helvetica", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  background-clip: inherit;
}

body {
  min-height: 100vh;
  background: linear-gradient(
      #9fc3f5 0%,
      #a8daf2 18%,
      #c5dbed 60%,
      #cbd9ee 80%,
      #9fc3f5
    )
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.afterload * {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}

/* Home Elements */

.composition {
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  grid-template-rows: repeat(2, 5rem) 10rem repeat(2, 4rem) 5rem;
  grid-gap: 1rem;
  margin-top: -3.6rem;
  transform: rotate(-26deg);
  transition: all 1s ease;
  width: 56rem;
}

#theEarth {
  grid-column: 1 / 4;
  grid-row: 1 / 5;
  margin: -6rem 0 0 3rem;
  position: relative;
}

#nameHeader {
  grid-column: 1 / 3;
  grid-row: 1 / 4;
  width: 66vw;
  display: grid;
  margin: -0.5rem 0 0 4rem;
  grid-template-columns: 15rem 7rem 10rem;
  grid-template-rows: repeat(3, 6rem);
  grid-gap: 1rem;
  /* transform: rotate(-26deg); */
  position: absolute;
  z-index: 1;
}

#abstract__human {
  grid-column: 3 / 4;
  grid-row: 3 / -1;
  margin: 4rem 0 0 0rem;
  padding: 0;
  transform: rotate(26deg);
}

#authorName {
  grid-column: 2 / 3;
  grid-row: 1 / span 2;
  color: var(--purpleBrown);
  font-size: 0.8rem;
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: -0.2rem;
  margin-top: 0.7rem;
  position: absolute;
  z-index: 1;
}

#secondName {
  margin-top: -0.1rem;
}

#footer__home {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  font-size: 0.55rem;
  color: var(--purpleBrown);
  margin: -0.85rem 0 0 0;
  writing-mode: vertical-rl;
}

/*   Home Page Menu - Navbar    */

.header {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
  padding: 0;
  margin: -0.9rem 0 0 0.2rem;
}

#projects-page {
  letter-spacing: 0.2rem;
  font-size: 1.75rem;
}

#navbar__menu {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 2rem;
}

a:link {
  text-decoration: none;
  outline: 0;
  color: inherit;
}

li {
  list-style-type: none;
  text-decoration: none;
}

#navbar__menu > li,
#navbar__menu li a:visited,
#navbar__menu li a:focus {
  color: var(--purpleBrown);
  padding: 0 0.5rem;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
}

#navbar__menu li a:hover {
  color: #fff;
}

/* Projects Menu */

ul .drop {
  margin-top: 0.5rem;
}

.drop li {
  opacity: 0;
  transform-origin: top center;
}

.drop li a {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0.3rem 0 0 -1.85rem;
  padding: 0.5rem 1rem;
  display: block;
  font-size: 1.1rem;
  width: 248px;
  transition: background-color 0.5s ease-in-out;
}

#navbar__menu li .drop li a:hover {
  color: #686d8a;
}

#navbar__menu li:hover .projMenu li:first-of-type {
  animation: openMenu 0.3s ease-in-out forwards;
  animation-delay: 0.3s;
}

#navbar__menu li:hover .projMenu li:nth-of-type(2) {
  animation: openMenu 0.3s ease-in-out forwards;
  animation-delay: 0.6s;
}

#navbar__menu li:hover .projMenu li:nth-of-type(3) {
  animation: openMenu 0.3s ease-in-out forwards;
  animation-delay: 0.9s;
}

/* #navbar__menu li:hover .projMenu li:last-of-type {
  animation: openMenu 0.3s ease-in-out forwards;
  animation-delay: 1.2s;
} */

@keyframes openMenu {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0);
  }
}

/*   Other Pages Menu - Navbar    */

.inputbox {
  -webkit-appearance: none;
}

.inputbox + .hamburger-container {
  position: absolute;
  top: 1rem;
  left: 1rem;
  height: 3rem;
  width: 3rem;
  position: absolute;
  z-index: 2;
}

.inputbox:hover + .hamburger-container {
  cursor: pointer;
}

.inputbox + .hamburger-container .hamburger {
  position: absolute;
  top: 1rem;
  left: 1rem;
  height: 0.3rem;
  width: 2rem;
  background-color: #fff;
  border-radius: 0.1rem;
  transition: all 200ms ease 0s;
  box-shadow: 1px 1px 1px rgba(117, 117, 117, 0.2);
}

.inputbox + .hamburger-container .hamburger::before,
.inputbox + .hamburger-container .hamburger::after {
  content: "";
  position: absolute;
  display: block;
  left: 0rem;
  height: 0.3rem;
  border-radius: 0.1rem;
  background-color: #fff;
  transition: all 300ms ease 0s;
  box-shadow: 1px 1px 1px rgba(117, 117, 117, 0.2);
}

.inputbox + .hamburger-container .hamburger::before {
  top: 0.5rem;
  width: 2rem;
}

.inputbox + .hamburger-container .hamburger::after {
  top: 1rem;
  width: 2rem;
}

.inputbox:checked + .hamburger-container .hamburger {
  transform: translate(0, 0.6rem) rotate(45deg);
  width: 2rem;
  height: 0.3rem;
  background-color: #fff;
}

.inputbox:checked + .hamburger-container .hamburger::after {
  transform: translate(0rem, -1rem) rotate(-90deg);
  width: 2rem;
  background-color: #fff;
}

.inputbox:checked + .hamburger-container .hamburger::before {
  opacity: 0;
}

.inputbox + .hamburger-container ~ .menu {
  list-style: none;
  width: 100vw;
  margin-top: -1.5rem;
  margin-left: -1rem;
  padding: 3rem 3rem 1rem 3rem;
  height: 0rem;
  transform-origin: 100% 10%;
  transition: all 300ms linear 0s;
}

.inputbox:checked + .hamburger-container ~ .menu {
  height: 8.5rem;
  background-color: rgba(255, 255, 255, 0.2);
}

.inputbox + .hamburger-container ~ .menu .menu_item {
  position: relative;
  opacity: 0;
  margin: auto;
  width: 30%;
  text-align: left;
  transform-origin: 10% 100%;
}

.inputbox:checked + .hamburger-container ~ .menu .menu_item:nth-child(1) {
  animation: scaleIn 300ms cubic-bezier(0.71, 0.55, 0.62, 1.37) 0ms both;
}

/* .inputbox:checked + .hamburger-container ~ .menu .menu_item:nth-child(2) {
  animation: scaleIn 300ms cubic-bezier(0.71, 0.55, 0.62, 1.37) 100ms both;
}

.inputbox:checked + .hamburger-container ~ .menu .menu_item:nth-child(3) {
  animation: scaleIn 300ms cubic-bezier(0.71, 0.55, 0.62, 1.37) 200ms both;
}

.inputbox:checked + .hamburger-container ~ .menu .menu_item:nth-child(4) {
  animation: scaleIn 300ms cubic-bezier(0.71, 0.55, 0.62, 1.37) 300ms both;
}

.inputbox:checked + .hamburger-container ~ .menu .menu_item:nth-child(5) {
  animation: scaleIn 300ms cubic-bezier(0.71, 0.55, 0.62, 1.57) 400ms both;
} */

.inputbox + .hamburger-container ~ .menu .menu_item .menu_link {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 170%;
  z-index: 2;
  padding: 0 2.5rem;
  width: 15rem;
  text-transform: uppercase;
  transition: all 100ms cubic-bezier(0.71, 0.55, 0.62, 1.07) 0s;
}

.menu_link,
.inputbox:checked + .hamburger-container ~ .menu .menu_item .menu_link {
  color: #ffffff;
  font-weight: 400;
}

.inputbox + .hamburger-container ~ .menu .menu_item .menu_link:hover {
  color: #fff;
  font-weight: bold;
}
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.8, 0.8) translatey(20%);
  }
  to {
    opacity: 1;
    transform: scale(1, 1) translatey(0%);
  }
}

/*--- main ---*/

.main {
  color: var(--purpleBrown);
  padding: 1rem 3rem;
}

/* Button to Contact Us

.gradient-link {
  color: #fff;
  letter-spacing: 0.02rem;
  text-decoration: none;
  padding: 0.5rem 1em;
  font-weight: 700;
  border-radius: 0.2em;
  background: linear-gradient(to right, #cb119c 0%, #2575fc 100%);
  background-size: 400% 400%;
  background-position: 0% 50%;
}

.gradient-link:hover {
  animation: gradientMove 6s ease both;
  background: linear-gradient(to right, #2575fc 0%, #cb119c 100%);
} */

/* Footer */

footer {
  padding: 2rem 0 0 0;
  margin-bottom: 1.7rem;
  text-align: center;
  font-size: 0.8rem;
}
footer a {
  /* I beleive the following code is optional */
  display: inline-block;
  margin: 0 0.3rem;
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
  /* with the transform anim gives nice smooth button scale anim */
  transition: background 0.5s ease-in, transform 0.25s ease-in-out;
}
footer a:hover {
  color: #0a4012;
  transform: scale(1.2);
}
footer p {
  font-size: 0.6rem;
  color: white;
}

/* Summer Mode */

.warmBckg {
  background: linear-gradient(
    #e2b9a8 0%,
    #f4c578 18%,
    #fcc164 60%,
    #f1c275 80%,
    #f7b285
  );
}

.warmSun {
  fill: #fdfde5;
}

.triangleBckg {
  fill: #ed462f;
}

.rectangleBckg {
  fill: rgb(247, 156, 91);
}

.strokesColor {
  stroke: #fdfde5;
}

/* --- .1 Transitions */

#Oval {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#Oval:hover {
  /* need to find the way to hover */
}

/* sun/moon animations */

@keyframes motion {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  10% {
    transform: scale(1);
    opacity: 0;
  }

  20% {
    transform: scale(1);
    opacity: 1;
  }
  80% {
    transform: scale(2.4);
    opacity: 0;
  }
  100% {
    transform: scale(2.4);
    opacity: 0;
  }
}

@keyframes motion2 {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  10% {
    transform: scale(1);
    opacity: 0;
  }
  10% {
    transform: scale(1);
    opacity: 0.5;
  }
  90% {
    transform: scale(2.2);
    opacity: 0;
  }
  100% {
    transform: scale(2.2);
    opacity: 0;
  }
}

#Oval1 {
  transform-origin: 33px 33px;
  animation-timing-function: cubic;
  animation-name: motion;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

#Oval2 {
  transform-origin: 33px 33px;
  animation-timing-function: cubic;
  animation-name: motion2;
  animation-duration: 6s;
  animation-delay: 1.5s;
  animation-iteration-count: infinite;
}

/* _____________________ */

@media screen and (max-width: 1200px) {
  .composition {
    margin: 0.5rem 0 0 0;
    transform: rotate(-0deg);
  }

  #abstract__human {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .composition {
    margin: 0.5rem 0 0 -5rem;
    grid-gap: 0.5rem;
  }

  svg {
    width: 95%;
    height: 95%;
  }

  #theEarth {
    grid-column: 1 / 3;
    grid-row: 1 / 5;
    margin-top: 0.1rem;
  }

  .header {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    margin: 0 0 0 2rem;
  }

  #footer__home {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    margin: 1rem 1rem 0 0;
  }
}

@media screen and (max-width: 480px) {
  .composition {
    margin: 0 0 0 -8.5rem;
  }

  .header {
    /* grid-column: 1 / span 1;
    grid-row: 1 / span 1; */
    margin: 2rem 0 0 4rem;
  }

  #authorName {
    margin: 2rem 0 0 0;
  }

  #footer__home {
    /* grid-column: 3 span 1;
    grid-row: 4 span 1;
    margin-top: 1em; */
  }

  .inputbox + .hamburger-container ~ .menu {
    padding: 4em 0 3em;
  }
  .inputbox + .hamburger-container ~ .menu .menu_item {
    width: 50%;
  }
}
