:root {
  /* Need to add colors 'background: var(--brandColor)*/
  --dirtyOrange: hsla(16, 68, 52, 1);
  --brightCoral: hsla(11, 88, 56, 1);
  --purpleBrown: hsla(10, 67%, 18%, 1);
  --calmPink: hsla(11, 77, 77, 1);
  --brightBlack: hsla(0, 0, 5, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 150%;
  font-weight: 300;
  background: linear-gradient(
      #9fc3f5 0%,
      #a8daf2 18%,
      #c5dbed 60%,
      #cbd9ee 80%,
      #9fc3f5
    )
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: "Avenir", "Helvetica", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  background-clip: inherit;
}

.wrapper {
  /* use background-image instead of just "background" */
}

#abstract__human {
  /* background-color: yellow; */
  position: absolute;
  margin: 2.8rem 0 0 45rem;
}

#myName {
  color: var(--purpleBrown);
  writing-mode: vertical-rl;
  font-size: 1.3rem;
  margin: 0.3rem 0 0 17rem;
  position: absolute;
}

/* Home Elements */

.lines {
  margin: 0rem 0 0 4rem;
  transform: rotate(-26deg);
  position: absolute;
  z-index: 1;
}

#footer__home {
  font-size: 0.5rem;
  color: var(--purpleBrown);
  margin: -3.2rem 0 0 15.7rem;
  writing-mode: vertical-rl;
}

/*    Menu - Navbar    */

#navbar__menu {
  margin: 11rem 0rem 0rem 27rem;
  height: 3rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
}

#navbar__menu > li {
  padding: 0 0.5rem;
  list-style-type: none;
  color: var(--purpleBrown);
  font-weight: 500;
  transition: all 0.6s ease-in-out;
}

#navbar__menu li a:visited {
  color: var(--purpleBrown);
}

#navbar__menu li a:hover {
  color: white;
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

.navbar__links {
  text-decoration: none;
}

/* About Section */

#menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding: 0 0.5rem;
  height: 3rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  /* position: absolute; */
  z-index: 2;
}

#menu > li {
  padding: 0 0.5rem;
  list-style-type: none;
  color: white;
  font-weight: 500;
  transition: all 0.6s ease-in-out;
}

#menu li a:visited {
  color: white;
}

#menu li a:hover {
  color: #3e5a57;
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

img {
  border-radius: 50%;
  float: left;
  margin: 0 6rem 0 2rem;
  shape-outside: circle();
}

#aboutMe {
  padding: 1.5rem 0;
  color: #3e5a57;
  font-weight: 400;
}

.aboutli {
  list-style-type: none;
}

.aboutli:first-child,
.aboutli:last-child {
  color: red;
}

.aboutli:nth-child(3) {
  background-color: yellow;
}

/* Footer */

footer {
  padding: 2rem 0 0 0;
  margin-bottom: 1.7rem;
  text-align: center;
  font-size: 0.8rem;
}
footer a {
  /* I beleive the following code is optional */
  display: inline-block;
  margin: 0 0.3rem;
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
  /* with the transform anim gives nice smooth button scale anim */
  transition: background 0.5s ease-in, transform 0.25s ease-in-out;
}
footer a:hover {
  color: #0a4012;
  transform: scale(1.2);
}
footer p {
  font-size: 0.6rem;
  color: white;
}
