$darkgreen: rgb(11, 71, 19);
$lightgreen: rgb(174, 207, 52);
$cream: rgb(238, 240, 176);
$milk: hsla(46, 50, 89, 1);
$lightmilk: hsla(0, 0, 94, 1);
$green: rgb(3, 140, 101);
$greenishgrey: rgb(182, 189, 157);
$earthorange: hsla(45, 87, 60, 1);
$brightorange: #f17304;
$brown: hsla(22, 37, 39, 1);

$text-color: $darkgreen;
$color-main: $lightgreen;
$color-headlines: $green;

$font-main: "Kumbh Sans", Helvetica, sans-serif;
$font-highlight: Helvetica, sans-serif;
